/*
!/.github/
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/build-firmware.yml
!/LICENSE
!/photo.jpg
!/.gitignore
!/README.md
!/variants/
/variants/*
!/variants/cardputer_adv/
